<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper grey darken-4">
			<div class="container">
				<a href="#!" class="brand-logo">
					<img class="mainLogo" src="http://st.motortrend.com/wp-content/themes/motor-trend/images/motor-trend-logo.svg" alt="Motor Trend Logo">
				</a>
				<ul class="right hide-on-med-and-down">
					<li>
						<a class="btn-floating btn-large waves-effect waves-light green darken-4">
							<i class="material-icons">playlist_add_check</i>Saved Articles
						</a>
					</li>
					<li>
						<a class="btn-floating btn-large waves-effect waves-light red darken-4">
							<i class="material-icons">sync</i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>