<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper">
			<div class="container">
				<a href="#!" class="brand-logo">
					<img class="mainLogo" src="http://st.motortrend.com/wp-content/themes/motor-trend/images/motor-trend-logo.svg" alt="Motor Trend Logo">
				</a>
				<ul class="right hide-on-med-and-down">
					<li>
						<a class="btn-floating tooltipped waves-effect waves-green white" data-position="left" data-delay="20" data-tooltip="Saved Articles">
							<i class="material-icons grey-text text-darken-4">playlist_add_check</i>Saved Articles
						</a>
					</li>
					<li>
						<a class="btn-floating tooltipped waves-effect waves-red white" data-position="right" data-delay="20" data-tooltip="Refresh" id="refreshBtn">
							<i class="material-icons grey-text text-darken-4">sync</i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>